@{
    ViewData["Title"] = "404";
}
@await Html.PartialAsync("_Title")

<div class="text-center">
    <h1 class="mt-5">I'm sorry!</h1>
    <h2>This page is not aviable at this time :(</h2>
    <a href="/"><button class="btn btn-warning" type="submit">Go Home</button></a>
</div>