html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #B11226;
}

@font-face {
  font-family: 'Limelight';
  src: url('fonts/Limelight-Regular.ttf') format('truetype'); /* Adjust path if necessary */
  font-weight: normal;
  font-style: normal;
}

.limelight-regular {
  font-family: 'Limelight', cursive, serif; /* Added 'serif' as a fallback */
  font-style: normal;
}
